.App {
  text-align: left;
  padding: 20px;
}

.heading{
  font-size: 5px;
}

p{
  font-size: 10px;
}

.products li {
  display: flex;
  flex-direction: column;
}

.products li span{
  font-weight: bold;
  font-size: 12px;
}
.products li img{
  border-radius: 2px;
}

.products li button{
  border: 1px solid green;
  margin-top: 3px;
  color: green;
  cursor: pointer;
  padding: 5px 0;
  border-radius: 2px;
}

.products li button:hover{
  background-color: #dddd;
}

